<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Quiz
  </h2>
  <p>
  Si tienes curiosidad por conocerme un poco mejor, aquí te dejo un par de aspectos personales aleatorios sobre mí :)
</p>
    <div class="details">
        <ul>
                <li>
                        Hasta el último día, dudé si estudiar ingeniería informática o ingeniería electrónica.
                    </li>
            <li>
                Me encanta el deporte y lo practico a diario. Me ayuda a canalizar la energía porque soy un poco hiperactivo.
            </li>
            <li>
                    Siempre me ha atraído el mundo empresarial y del emprendimiento. No descarto la idea de emprender en un futuro.
                </li>
        <li>
            Me encanta la fotografía.
        </li>
        <li>
            Cada vez me ronda más la cabeza la idea de realizar un doctorado, aunque aún no he sido capaz de decidirme.
        </li>
        <li>
                Estoy aprendiendo ruso. Quiero aprender una tercera lengua y siempre me ha parecido
                que el ruso tiene una sonoridad muy bonita.
        </li>

    <li>
       En un futuro más lejano, me gustaría estudiar a distancia y poco a poco ingeniería electrónica, industrial y automática.
    </li>
    <li>
        Mi género musical favorito es el blues y el rock clásico. Mi banda favorita es Dire Straits.
    </li>
    <li>
            Mantengo una pequeña partición con Windows en caso de necesidad puntual, pero normalmente
            soy usuario de Linux.
    </li>
        </ul>
    </div>
</section><!--//section-->
