<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Quiz
  </h2>
  <p>
  Si tienes curiosidad por conocerme un poco mejor a nivel personal, aquí te dejo unos cuantos datos aleatorios sobre mí:
</p>
    <div class="details">
        <ul>
                <li>
                        Hasta el último día, dudé si estudiar ingeniería informática o ingeniería electrónica.
                    </li>
            <li>
                Me encanta el deporte y lo practico mucho. Cuando era adolescente entrené con la selección española de taekwondo.
            </li>
            <li>
                    Siempre me ha atraído el mundo empresarial y del emprendimiento. No descarto la idea de emprender en un futuro.
                </li>
        <li>
            Me encanta la fotografía y he hecho varios cursos de Photoshop.
        </li>
        <li>
                Estoy aprendiendo ruso. Quiero aprender una tercera lengua y siempre me ha parecido
                que el ruso tiene una sonoridad muy bonita.
        </li>
    <li>
        Me gusta trabajar en equipo. He tenido la suerte de coincidir con gente muy profesional pero también con mucho sentido del humor
        y creo que es una de las mejores experiencias que se pueden vivir.
    </li>
    <li>
        Si pudiese organizarme, en el futuro me gustaría estudiar poco a poco ingeniería electrónica, industrial y automática.
    </li>
    <li>
        Mi género musical favorito es el blues y el rock clásico. Mi banda favorita es Dire Straits.
    </li>
    <li>
            Mantengo una pequeña partición con Windows en caso de necesidad puntual, pero normalmente
            soy usuario de Linux.
    </li>
    <li>
        Me encantan los perros y tengo uno llamado Turing. Si hubiese sido hembra pretendía llamarla Java.
    </li>
        </ul>
    </div>
</section><!--//section-->
