{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>
  <div class="caption"><div class="square-g cap"></div><span><b>Lo he utilizado bastante</b></span></div>
<div class="caption"><div class="square-y cap"></div><span><b>Puedo desenvolverme solo</b></span></div>
<div class="caption"><div class="square-r cap"></div><span><b>Tengo conocimientos básicos</b></span></div>

  <h4 id="start-grow">Back-end</h4>
  <div class="skillset">

    {% for skill in skills.back-end %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

  <h4>Front-end</h4>
  <div class="skillset">

    {% for skill in skills.front-end %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>


  <h4>Herramientas / apoyo</h4>
  <div class="skillset">

    {% for skill in skills.tools %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

  <h4>Hardware / robótica</h4>
  <div class="skillset">

    {% for skill in skills.hardware %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

  <h4>Otras</h4>
  <div class="skillset">

    {% for skill in skills.others %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>
  

</section><!--//skills-section-->
{% endif %}
