<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Quiz
  </h2>
  <p>
  Si quieres conocerme un poco mejor en el plano personal, aquí te dejo algunos datos aleatorios sobre mí.
</p>
    <div class="details">
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
</section><!--//section-->
