<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Quiz
  </h2>
  <p>
  Si quieres conocerme un poco mejor en el plano personal, aquí te dejo algunos datos aleatorios sobre mí.
</p>
    <div class="details">
        <ul>
                <li>
                        Hasta el último día, dudé si estudiar ingeniería informática o electrónica.
                    </li>
            <li>
                Me encanta el deporte y lo practico mucho. Cuando era adolescente entrenaba con la selección española de taekwondo.
            </li>
            <li>
                    Estoy aprendiendo ruso. Quiero aprender una tercera lengua y siempre me ha parecido
                    que el ruso tiene una sonoridad muy bonita.
                </li>
        <li>
            Una vez caí enfermo por comerme una sandía entera.
        </li>
        <li>
           Siempre me ha atraído el mundo empresarial y del emprendimiento. No descarto la idea de emprender en un futuro.
        </li>
    <li>
        Me encanta el mar: vivo cerca y es posible que haya pasado más tiempo de mi vida dentro que fuera de él.
    </li>
    <li>
        Si pudiese organizarme en el futuro, me gustaría estudiar poco a poco ingeniería eletrónica o industrial y automática.
    </li>
    <li>
        Mi género musical favorito es el blues y el rock clásico. Mi grupo favorito es Dire Straits. Aprendí a tocar la guitarra a los cinco años
        y desde entonces es una de mis pasiones.
    </li>
<li>
    Una vez caí enfermo por comerme una sandía entera.
</li>
        </ul>
    </div>
</section><!--//section-->
