<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Quiz
  </h2>
  <p>
  Si quieres conocerme un poco mejor en el plano personal, aquí te dejo algunos datos aleatorios sobre mí.
</p>
    <div class="details">
        <ul>
                <li>
                        Hasta el último día, dudé si estudiar ingeniería informática o electrónica.
                    </li>
            <li>
                Me encanta el deporte y lo practico mucho. Cuando era adolescente entrenaba con la selección española de taekwondo.
            </li>
            <li>
                    Estoy aprendiendo ruso. Quiero aprender una tercera lengua y siempre me ha parecido
                    que el ruso tiene una sonoridad muy bonita.
                </li>
        <li>
            Me encanta la fotografía y he hecho varios cursos de Photoshop.
        </li>
        <li>
           Siempre me ha atraído el mundo empresarial y del emprendimiento. No descarto la idea de emprender en un futuro.
        </li>
    <li>
        Me encantan los perros. Tengo uno y se llama Turing. Si hubiese sido hembra la habría llamado Java.
    </li>
    <li>
        Si pudiese organizarme en el futuro, me gustaría estudiar poco a poco ingeniería electrónica o industrial y automática.
    </li>
    <li>
        Mi género musical favorito es el blues y el rock clásico. Mi grupo favorito es Dire Straits.
    </li>
    <li>
        Soy extremadamente meticuloso con el estilo del código fuente. Mis amigos me han bautizado como la policía del Clean Code.
    </li>
        </ul>
    </div>
</section><!--//section-->
